# Banco de dados 
*.db
*.sqlite3

# Ambientes Virtuais
venv/
.venv/
env/

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações de editores
.vscode/
.idea/

# Arquivos do Windows
Thumbs.db
